@model IEnumerable<MyMusic.Models.Data.ViewModels.SongVM>

@{
	ViewBag.Title = "Songs";
}
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Songs</h2>

<form method="get" action="@Url.Action("Search", "Home")">
	<input type="text" name="search" id="search" />
	<button type="submit">Search</button>
</form>

<br>
<p>
	@Html.ActionLink("Add Song", "AddSong", "", new { @class = "btn btn-success" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.GroupName)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.GroupName)
			</td>
			<td>
				@Html.ActionLink("Details", "SongDetails", new { id = item.Id }, new { @class = "btn btn-success" }) |
				@Html.ActionLink("Delete", "DeleteSong", new { id = item.Id }, new { @class = "delete btn btn-danger" })
			</td>
		</tr>
	}

</table>
@Html.ActionLink("All", "Songs", "", new { @class = "btn btn-success" })
<br>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Songs", new { page }))